<body>
  <div id="header">
    <div class="flexrow-container">
      <div class="standard-theme theme-selector"></div>
      <div class="light-theme theme-selector"></div>
      <div class="darker-theme theme-selector"></div>
    </div>
    <h1 id="title">
      Do It
      <div id="border"></div>
    </h1>
  </div>

  <div id="form">
    <form>
      <input class="todo-input" type="text" placeholder="Add a task." />
      <button class="todo-btn" type="submit">I Got This!</button>
    </form>
  </div>

  <div>
    <p><span id="datetime"></span></p>
  </div>

  <div id="myUnOrdList">
    <ul class="todo-list"></ul>
  </div>
</body>
